USE [master]
GO
/****** Object:  Database [EmpresaDB]    Script Date: 20/03/2026 4:41:56 p. m. ******/
CREATE DATABASE [EmpresaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmpresaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpresaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmpresaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaDB]
GO
/****** Object:  Table [dbo].[Empleado_Proyecto]    Script Date: 20/03/2026 4:41:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Proyecto](
	[IdEmpleado] [int] NOT NULL,
	[IdProyecto] [int] NOT NULL,
	[HorasTrabajadas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC,
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 20/03/2026 4:41:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Salario] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 20/03/2026 4:41:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[IdProyecto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Presupuesto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Empleado_Proyecto] ([IdEmpleado], [IdProyecto], [HorasTrabajadas]) VALUES (1, 1, 20)
INSERT [dbo].[Empleado_Proyecto] ([IdEmpleado], [IdProyecto], [HorasTrabajadas]) VALUES (1, 2, 40)
INSERT [dbo].[Empleado_Proyecto] ([IdEmpleado], [IdProyecto], [HorasTrabajadas]) VALUES (2, 3, 70)
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Salario]) VALUES (1, N'Juan Perez', CAST(4000000.00 AS Decimal(12, 2)))
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Salario]) VALUES (2, N'Ana Rendon', CAST(3500000.00 AS Decimal(12, 2)))
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Salario]) VALUES (3, N'Carlos Monsalve', CAST(2000000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyectos] ON 

INSERT [dbo].[Proyectos] ([IdProyecto], [Nombre], [Presupuesto]) VALUES (1, N'Sistema ERP', CAST(10000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Proyectos] ([IdProyecto], [Nombre], [Presupuesto]) VALUES (2, N'App Movil', CAST(15000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Proyectos] ([IdProyecto], [Nombre], [Presupuesto]) VALUES (3, N'E-commerce', CAST(7000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Proyectos] OFF
GO
ALTER TABLE [dbo].[Empleado_Proyecto]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Empleado_Proyecto]  WITH CHECK ADD FOREIGN KEY([IdProyecto])
REFERENCES [dbo].[Proyectos] ([IdProyecto])
GO
USE [master]
GO
