USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 19/03/2026 10:13:17 p. m. ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 19/03/2026 10:13:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[IdConsulta] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[FechaConsulta] [date] NOT NULL,
	[Diagnostico] [varchar](100) NOT NULL,
	[Tratamiento] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriasClinicas]    Script Date: 19/03/2026 10:13:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriasClinicas](
	[IdHistoria] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[FechaHistoria] [date] NOT NULL,
	[Diagnostico] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 19/03/2026 10:13:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedico] [varchar](100) NOT NULL,
	[Especializacion] [varchar](100) NOT NULL,
	[EmailMedico] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 19/03/2026 10:13:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaciente] [varchar](100) NOT NULL,
	[EdadPaciente] [int] NOT NULL,
	[EmailPaciente] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([IdConsulta], [IdPaciente], [IdMedico], [FechaConsulta], [Diagnostico], [Tratamiento]) VALUES (1, 1, 1, CAST(N'2026-03-03' AS Date), N'Dolor de pecho', N'Reposo e ibuprofeno')
INSERT [dbo].[Consultas] ([IdConsulta], [IdPaciente], [IdMedico], [FechaConsulta], [Diagnostico], [Tratamiento]) VALUES (2, 2, 2, CAST(N'2026-03-15' AS Date), N'Gripa', N'Acetaminofen')
INSERT [dbo].[Consultas] ([IdConsulta], [IdPaciente], [IdMedico], [FechaConsulta], [Diagnostico], [Tratamiento]) VALUES (3, 3, 2, CAST(N'2026-03-18' AS Date), N'Alergia', N'Loratadina')
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoriasClinicas] ON 

INSERT [dbo].[HistoriasClinicas] ([IdHistoria], [IdPaciente], [FechaHistoria], [Diagnostico]) VALUES (1, 1, CAST(N'2026-03-03' AS Date), N'Saludable - Alergias: Ninguna')
INSERT [dbo].[HistoriasClinicas] ([IdHistoria], [IdPaciente], [FechaHistoria], [Diagnostico]) VALUES (2, 2, CAST(N'2026-03-15' AS Date), N'En tratamiento - Alergias: Polvo')
INSERT [dbo].[HistoriasClinicas] ([IdHistoria], [IdPaciente], [FechaHistoria], [Diagnostico]) VALUES (3, 3, CAST(N'2026-03-18' AS Date), N'Estable - Alergias: Polen')
SET IDENTITY_INSERT [dbo].[HistoriasClinicas] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([IdMedico], [NombreMedico], [Especializacion], [EmailMedico]) VALUES (1, N'Julio', N'Cardiologo', N'julio@gmail.com')
INSERT [dbo].[Medicos] ([IdMedico], [NombreMedico], [Especializacion], [EmailMedico]) VALUES (2, N'Marcos', N'Medico General', N'marcos@gmail.com')
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [NombrePaciente], [EdadPaciente], [EmailPaciente]) VALUES (1, N'Juan', 22, N'juan@gmail.com')
INSERT [dbo].[Pacientes] ([IdPaciente], [NombrePaciente], [EdadPaciente], [EmailPaciente]) VALUES (2, N'Ana', 15, N'ana@gmail.com')
INSERT [dbo].[Pacientes] ([IdPaciente], [NombrePaciente], [EdadPaciente], [EmailPaciente]) VALUES (3, N'Ramon', 52, N'ramon@gmail.com')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
/****** Object:  Index [UQ__Historia__C93DB49AFCC271A8]    Script Date: 19/03/2026 10:13:18 p. m. ******/
ALTER TABLE [dbo].[HistoriasClinicas] ADD UNIQUE NONCLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([IdPaciente])
GO
ALTER TABLE [dbo].[HistoriasClinicas]  WITH CHECK ADD FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([IdPaciente])
GO
USE [master]
GO
